DISCORD_TOKEN=
DISCORD_APPLICATION_ID=1532668080524759201
DISCORD_GUILD_ID=1239836342456942643
DISCORD_ALLOWED_USER_IDS=395151484179841024
DISCORD_PREFIX=>
OPENCLAW_BASE_URL=http://127.0.0.1:18789
OPENCLAW_GATEWAY_TOKEN=
OPENCLAW_MODEL=openclaw/default
OPENCLAW_REQUEST_TIMEOUT_MS=300000
OPENCLAW_MAX_PENDING=5
